:root {
  --color-green: #338855;
  --color-neon-green: #00ff1a;
  --color-scale-green: #0c1f13;
  --color-dark-scale-green: #13231a;
  --color-dark-green: #162d1f;
  --color-darkest-green: #153623;
  --color-energy: #10e7c0;
  --color-ink: #27282d;
  --color-paper: #f2eecb;
  --duration: 1s;
}

body {
  background-color: var(--color-dark-scale-green);
  padding: 0px;
  margin: 0px;
}

body * {
  font-family: 'Reenie Beanie', cursive;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: var(--color-green);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-green);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-darkest-green);
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}

/* Enlaces */

.cthulhu a {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
  
}

.cthulhu a:hover {
  color: var(--color-neon-green);
  text-shadow: 0px 0px 5px var(--color-neon-green);
}

.cthulhu a:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  transition: background 0.3s;
}

.cthulhu a:hover:after {
  background-color: var(--color-neon-green);
  box-shadow: 0px 0px 8px 3px var(--color-neon-green);
}

/* Titles */
section.cthulhu h1 {
  --drop-width: 1rem;
  font-family: 'MedievalSharp', cursive;
  color: var(--color-energy);
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
  position: relative;
  color: var(--color-energy);
  padding: 0;
  margin: calc(var(--drop-width) * 2) 0;
}

section.cthulhu h1:after {
  --duration: 3s;
  content: " ";
  top: calc(100% - 0.2rem);
  left: 0px;
  position: absolute;
  width: var(--drop-width);
  height: calc(var(--drop-width) * 2);
  background-color: var(--color-energy);
  border-bottom-left-radius: calc(var(--drop-width) / 2);
  border-bottom-right-radius: calc(var(--drop-width) / 2);
  clip-path: polygon(100% 60%, 100% 100%, 0% 100%, 0% 60%, 50% 0%);
  transform: scale(0);
  animation-name: droping;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes droping {
  0% {
    top: calc(100% - 1rem);
    transform: scale(0);
  }
  50% {
    top: calc(100% - 0.2rem);
    transform: scale(1);
  }

  100% {
    top: calc(100% + (var(--drop-width) * 2));
    transform: scale(1);
  }
}

section.cthulhu h1 ~ *:nth-child(2) {
  --duration: 3s;
  --drop-width: 1rem;
  --drop-form: ellipse;
  --color-transparent: #fff;
  background: -webkit-radial-gradient(var(--color-transparent) 0%, var(--color-transparent) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: energysplit;
  animation-duration: calc(var(--duration) * 20);
  animation-delay: calc(var(--duration) * 0.5);
  /*animation-iteration-count: infinite;*/
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes energysplit {
  0% {
    background: -webkit-radial-gradient(var(--color-transparent) 0%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  5% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 0%,var(--color-transparent) 5%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 5%,var(--color-transparent) 10%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  15% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 10%,var(--color-transparent) 15%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 15%,var(--color-transparent) 20%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 20%,var(--color-transparent) 25%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 25%,var(--color-transparent) 30%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  35% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 30%,var(--color-transparent) 35%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 35%,var(--color-transparent) 40%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  45% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 40%,var(--color-transparent) 45%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 45%, var(--color-transparent) 50%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  55% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 50%, var(--color-transparent) 55%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 55%, var(--color-transparent) 60%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  65% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 60%, var(--color-transparent) 65%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 65%, var(--color-transparent) 70%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 70%, var(--color-transparent) 75%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 75%, var(--color-transparent) 80%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  85% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 80%, var(--color-transparent) 85%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 85%, var(--color-transparent) 90%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  95% {
    background: radial-gradient(var(--drop-form) at 0% calc(var(--drop-width) * 2), var(--color-energy) 0%, var(--color-energy) 90%, var(--color-transparent) 95%, var(--color-transparent) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: radial-gradient(var(--drop-form) at 0% 50%, var(--color-energy) 0%, var(--color-energy) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

section.cthulhu h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #28796a;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  background: linear-gradient(to right, rgb(17 139 116) 0%, #00a98b 100%);
  padding: 17px 10px 10px;
  display: inline-block;
  border: 20px solid #118b74;
  border-right: 20px solid #09bc9b;
  border-bottom: 20px solid #139f86;
  border-left: 20px solid #0e5145;
  clip-path: polygon(1% 7%, 15% 0%, 20% 4%, 50% 0%, 97% 0%, 100% 11%, 100% 97%, 97% 100%, 50% 95%, 45% 97%, 2% 100%, 0% 94%);
  font-family: 'MedievalSharp', cursive;
  max-width: 500px;
  text-align: center;
  position: relative;
  border-top-left-radius: 31px;
  border-bottom-right-radius: 14px;
  text-transform: uppercase;
}

section.cthulhu h4:before {
  content: " ";
  display: block;
  height: 40px;
  width: 40px;
  bottom: -11px;
  left: -11px;
  background-color: #0e705d;
  position: absolute;
  clip-path: polygon(27% 0%, 100% 74%, 9% 93%);
}

section.cthulhu h4:after {
  content: " ";
  display: block;
  height: 40px;
  width: 56px;
  right: -11px;
  top: -11px;
  background-color: #139f86;
  position: absolute;
  clip-path: polygon(23% 27%, 89% 18%, 81% 79%);
}

/* Sections */

section.cthulhu {
  padding: 60px;
  margin: 0;
  position: relative;
}

section.cthulhu > * {
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  position: relative;
}

section.cthulhu.tentacles {
  padding: 0;
  margin: 0;
  position: relative;
  /* Scale effect from https://codepen.io/theweej/pen/rNVmRjz */
  background: radial-gradient(circle at 20% 50%, var(--color-scale-green) 10px, var(--color-dark-scale-green) 11px) 0 18px;
  background-size: 16px 24px;
  overflow: hidden;
}

section.cthulhu.tentacles > * {
  padding: 0px 60px 15px;
  margin: 0;
}

section.cthulhu.tentacles > *:first-child {
  padding-top: 60px;
}

section.cthulhu.tentacles > *:last-child {
  padding-bottom: 60px;
}


section.cthulhu.tentacles > *:first-child:before,
section.cthulhu.tentacles > *:first-child:after,
section.cthulhu.tentacles:before,
section.cthulhu.tentacles:after {
  --width: 1rem;
  --color-tentacle: var(--color-dark-green);
  --duration: 4s;
  content: " ";
  position: absolute;
  top: calc(0% - (var(--width) / 2));
  left: calc(0% - (var(--width) / 2));
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  background-color: transparent;
  filter: blur(0.5px);
  animation-name: tentacle;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  --color-tentacle-1: rgb(22, 45, 31); 
  --color-tentacle-2: rgb(22, 48, 31);
  --color-tentacle-3: rgb(22, 51, 31); 
  --color-tentacle-4: rgb(22, 54, 31); 
  --color-tentacle-5: rgb(22, 57, 31); 
  --color-tentacle-6: rgb(22, 60, 31); 
  --color-tentacle-7: rgb(22, 63, 31); 
  --color-tentacle-8: rgb(22, 64, 31); 
  --color-tentacle-9: rgb(22, 67, 31); 
  --color-tentacle-10: rgb(22, 70, 31); 
  --color-tentacle-11: rgb(22, 73, 31); 
  --color-tentacle-12: rgb(22, 76, 31); 
  box-shadow:
    calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
    calc(var(--width) * 1.8) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
    calc(var(--width) * 2.2) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
    calc(var(--width) * 2.6) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
    calc(var(--width) * 3.0) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
    calc(var(--width) * 3.4) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
    calc(var(--width) * 3.8) calc(var(--width) * 3.8) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
    calc(var(--width) * 4.2) calc(var(--width) * 4.2) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
    calc(var(--width) * 4.6) calc(var(--width) * 4.6) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
    calc(var(--width) * 5.0) calc(var(--width) * 5.0) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
    calc(var(--width) * 5.4) calc(var(--width) * 5.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
    calc(var(--width) * 5.8) calc(var(--width) * 5.8) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
}

section.cthulhu.tentacles:after,
section.cthulhu.tentacles > *:first-child:after {
  --width: 0.9rem;
  --color-tentacle: var(--color-darkest-green); 
  animation-name: tentacle;
  animation-duration: calc(var(--duration) * 1.4);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: reverse;
  --color-tentacle-1: rgb(6, 67, 15); 
  --color-tentacle-2: rgb(6, 70, 15); 
  --color-tentacle-3: rgb(6, 73, 15); 
  --color-tentacle-4: rgb(6, 76, 15); 
  --color-tentacle-5: rgb(6, 79, 15); 
  --color-tentacle-6: rgb(6, 82, 15); 
  --color-tentacle-7: rgb(6, 85, 15); 
  --color-tentacle-8: rgb(6, 88, 15); 
  --color-tentacle-9: rgb(6, 91, 15); 
  --color-tentacle-10: rgb(6, 94, 15); 
  --color-tentacle-11: rgb(6, 97, 15);
  --color-tentacle-12: rgb(6, 100, 15); 
}

section.cthulhu.tentacles > *:first-child:before,
section.cthulhu.tentacles > *:first-child:after {
  --duration: 2s;
  --width: 0.7rem;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate-reverse;
}

section.cthulhu.tentacles > *:first-child:after {
  --duration: 2.7s;
  --width: 1.1rem;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: reverse;
}


@keyframes tentacle {
  0% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.8) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.2) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.6) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.0) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.4) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 3.8) calc(var(--width) * 3.8) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.2) calc(var(--width) * 4.2) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 4.6) calc(var(--width) * 4.6) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.0) calc(var(--width) * 5.0) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 5.4) calc(var(--width) * 5.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 5.8) calc(var(--width) * 5.8) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
  }
  5% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.8) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.2) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.6) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.0) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.4) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 3.8) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.2) calc(var(--width) * 3.6) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 4.6) calc(var(--width) * 4.0) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.0) calc(var(--width) * 4.4) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 5.4) calc(var(--width) * 4.8) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 5.8) calc(var(--width) * 5.2) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
  }
  15% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.8) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.2) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.6) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.0) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.4) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 3.8) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.2) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 4.6) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.0) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 5.4) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 5.8) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
  }
  25% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.8) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.2) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.6) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.0) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 3.8) calc(var(--width) * 1.8) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.2) calc(var(--width) * 2.2) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 4.6) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.0) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 5.4) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 5.8) calc(var(--width) * 3.8) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
  }
  35% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.8) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.2) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.6) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.0) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 3.8) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.2) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 4.6) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.0) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 5.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 5.8) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
  }
  45% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.4) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 1.4) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 1.4) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 1.6) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 2.0) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 2.4) calc(var(--width) * 3.8) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 2.8) calc(var(--width) * 4.2) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 3.2) calc(var(--width) * 4.6) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 3.2) calc(var(--width) * 5.0) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 3.2) calc(var(--width) * 5.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 3.2) calc(var(--width) * 5.8) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
  }
  55% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.4) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 1.4) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 1.4) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 1.4) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 1.4) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 1.4) calc(var(--width) * 3.8) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 1.4) calc(var(--width) * 4.2) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 1.4) calc(var(--width) * 4.6) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 1.8) calc(var(--width) * 5.0) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 2.2) calc(var(--width) * 5.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 2.6) calc(var(--width) * 5.8) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);  
  }
  65% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.6) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 1.8) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.0) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 2.2) calc(var(--width) * 1.4) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 2.4) calc(var(--width) * 1.6) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 2.6) calc(var(--width) * 2.0) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 2.8) calc(var(--width) * 2.4) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 3.0) calc(var(--width) * 2.8) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 3.2) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 3.4) calc(var(--width) * 3.6) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 3.6) calc(var(--width) * 4.0) 0px calc(var(--width) * 0.1) var(--color-tentacle-12); 
  }
  75% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.9) calc(var(--width) * 1.9) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.4) calc(var(--width) * 2.4) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.9) calc(var(--width) * 2.9) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.4) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.9) calc(var(--width) * 3.9) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 4.4) calc(var(--width) * 4.4) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.9) calc(var(--width) * 4.9) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 5.4) calc(var(--width) * 5.4) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.9) calc(var(--width) * 5.9) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 6.4) calc(var(--width) * 6.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 6.9) calc(var(--width) * 6.9) 0px calc(var(--width) * 0.1) var(--color-tentacle-12); 
  }
  85% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.9) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.9) calc(var(--width) * 1.5) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.4) calc(var(--width) * 1.5) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.9) calc(var(--width) * 1.6) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 4.4) calc(var(--width) * 1.8) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.9) calc(var(--width) * 2.0) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 5.4) calc(var(--width) * 2.2) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.9) calc(var(--width) * 2.4) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 6.4) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 6.9) calc(var(--width) * 2.8) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);  
  }
  95% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.4) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 1.4) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 1.4) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 1.4) calc(var(--width) * 3.2) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 1.4) calc(var(--width) * 3.6) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 1.4) calc(var(--width) * 4.0) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 1.4) calc(var(--width) * 4.4) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 1.4) calc(var(--width) * 4.8) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 1.4) calc(var(--width) * 5.2) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 1.8) calc(var(--width) * 5.6) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 2.2) calc(var(--width) * 6.0) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);  
  }
  100% {
    box-shadow:
      calc(var(--width) * 1.4) calc(var(--width) * 1.4) 0px calc(var(--width) * 1.2) var(--color-tentacle-1),
      calc(var(--width) * 1.8) calc(var(--width) * 1.8) 0px calc(var(--width) * 1.1) var(--color-tentacle-2),
      calc(var(--width) * 2.2) calc(var(--width) * 2.2) 0px calc(var(--width) * 1.0) var(--color-tentacle-3),
      calc(var(--width) * 2.6) calc(var(--width) * 2.6) 0px calc(var(--width) * 0.9) var(--color-tentacle-4),
      calc(var(--width) * 3.0) calc(var(--width) * 3.0) 0px calc(var(--width) * 0.8) var(--color-tentacle-5),
      calc(var(--width) * 3.4) calc(var(--width) * 3.4) 0px calc(var(--width) * 0.7) var(--color-tentacle-6),
      calc(var(--width) * 3.8) calc(var(--width) * 3.8) 0px calc(var(--width) * 0.6) var(--color-tentacle-7),
      calc(var(--width) * 4.2) calc(var(--width) * 4.2) 0px calc(var(--width) * 0.5) var(--color-tentacle-8),
      calc(var(--width) * 4.6) calc(var(--width) * 4.6) 0px calc(var(--width) * 0.4) var(--color-tentacle-9),
      calc(var(--width) * 5.0) calc(var(--width) * 5.0) 0px calc(var(--width) * 0.3) var(--color-tentacle-10),
      calc(var(--width) * 5.4) calc(var(--width) * 5.4) 0px calc(var(--width) * 0.2) var(--color-tentacle-11),
      calc(var(--width) * 5.8) calc(var(--width) * 5.8) 0px calc(var(--width) * 0.1) var(--color-tentacle-12);
  }
}

section.cthulhu.redeyes {
  background-color: var(--color-darkest-green);
}

section.cthulhu.redeyes:after,
section.cthulhu.redeyes:before {
  --width: 20px;
  --top: calc(0% + 2rem);
  --left: calc(100% - 5rem);
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: calc((var(--width) / 3 ) * 2);
  background-color: red;
  border-bottom-left-radius: calc(var(--width) - (var(--width) / 10));
  border-bottom-right-radius: calc((var(--width) / 3) + (var(--width) / 10));
  border-top-right-radius: calc((var(--width) / 3) + (var(--width) / 10));
  transform: rotate(10deg);
  box-shadow: 0px 0px 14px #b70000;
  transition: height 0.3s, top 0.3s;
}

section.cthulhu.redeyes:before {
  left: calc(var(--left) + var(--width) + (var(--width) / 6));
  border-bottom-left-radius: calc((var(--width) / 3) + (var(--width) / 10));
  border-bottom-right-radius: calc(var(--width) - (var(--width) / 10));
  border-top-right-radius: 0px;
  border-top-left-radius: calc((var(--width) / 3) + (var(--width) / 10));
  transform: rotate(-10deg);
}

section.cthulhu.redeyes.hover:hover:after,
section.cthulhu.redeyes.hover:hover:before {
  height: 0px;
  top: calc(var(--top) + ((var(--width) / 3 ) * 2));
}

section.cthulhu.redeyes.animation:after,
section.cthulhu.redeyes.animation:before {
  animation-name: redeyes;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

@keyframes redeyes {
  0% {
    height: 0px;
  }
  2% {
    height: calc((var(--width) / 3 ) * 2);
  }
  10% {
    height: calc((var(--width) / 3 ) * 2);
  }
  12% {
    height: 0px;
  }
  22% {
    height: 0px;
  }
  25% {
    height: calc((var(--width) / 3 ) * 2);
  }
  45% {
    height: calc((var(--width) / 3 ) * 2);
  }
  55% {
    height: 0px;
  }
  70% {
    height: calc((var(--width) / 3 ) * 2);
  }
  80% {
    height: 0px;
  }
  90% {
    height: calc((var(--width) / 3 ) * 2);
  }
  100% {
    height: 0px;
  }
}

section.cthulhu.manuscript {
  background-color: var(--color-paper);
  color: var(--color-ink);
  margin: 30px;
  animation-name: manuscript;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  clip-path: polygon(0% 15px, 7px 7px, 18px 0%, calc(50% - 5px) 0%, 50% calc(0% + 3px), calc(50% - 3px) 40px, 50% 80px, calc(50% + 3px) 30px, calc(50% + 8px) 0%, calc(100% - 17px) 0%, 100% calc(0% + 9px), 100% calc(100% - 20px), calc(100% - 12px) calc(100% - 14px), calc(100% - 17px) 100%, calc(0% + 7px) 100%, 0% calc(100% - 6px));
}

section.cthulhu.manuscript:hover,
section.cthulhu.manuscript:hover > *:first-child:before,
section.cthulhu.manuscript:hover > *:first-child:after  {
  animation-play-state: paused;
}

@keyframes manuscript {
  0% {
    background-color: var(--color-paper);
    color: var(--color-ink);
    text-shadow: none;
  }
  25% {
    background-color: var(--color-paper);
    color: var(--color-ink);
    text-shadow: none;
  }
  75% {
    background-color: var(--color-ink);
    color: var(--color-energy);
    text-shadow: 0px 0px 5px var(--color-energy);
  }
  100% {
    background-color: var(--color-ink);
    color: var(--color-energy);
    text-shadow: 0px 0px 5px var(--color-energy);
  }
}

section.cthulhu.manuscript > * {
  font-family: 'MedievalSharp', cursive;
  color: inherit;
  margin: 0 auto 2rem;
}
section.cthulhu.manuscript > *:first-child {
  position: relative;
}
  
section.cthulhu.manuscript > *:first-child:first-letter {
  font-size: 10rem;
  display: block;
  float: left;
  padding: 5rem 1rem 4rem;
  margin-right: 1.5rem;
  margin-bottom: 0.7rem;
}

section.cthulhu.manuscript > *:first-child:before,
section.cthulhu.manuscript > *:first-child:after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: manuscriptborderin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  width: 8.5rem;
  height: 10rem;
}

section.cthulhu.manuscript > *:first-child:after {
  animation-name: manuscriptborderout;
}

@keyframes manuscriptborderin {
  0% {
    border: 2px solid var(--color-ink);
    box-shadow: inset 0px 0px 0px 0px var(--color-ink);
  }
  25% {
    border: 2px solid var(--color-ink);
    box-shadow: inset 0px 0px 0px 0px var(--color-ink);
  }
  75% {
    border: 2px solid var(--color-energy);
    box-shadow: inset 0px 0px 8px 3px var(--color-energy);
  }
  100% {
    border: 2px solid var(--color-energy);
    box-shadow: inset 0px 0px 8px 3px var(--color-energy);
  }
}

@keyframes manuscriptborderout {
  0% {
    border: 2px solid var(--color-ink);
    box-shadow: 0px 0px 0px 0px var(--color-ink);
  }
  25% {
    border: 2px solid var(--color-ink);
    box-shadow: 0px 0px 0px 0px var(--color-ink);
  }
  75% {
    border: 2px solid var(--color-energy);
    box-shadow: 0px 0px 8px 3px var(--color-energy);
  }
  100% {
    border: 2px solid var(--color-energy);
    box-shadow: 0px 0px 8px 3px var(--color-energy);
  }
}

